body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    border: 2px solid #f0e6ef;
    border-radius: 60px;
    box-shadow: 8px 8px 8px #f0afca;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #efc3e6;
    color: #2b2839;
    border-bottom: 6px solid #9c89b8;
    border-top: 6px solid #9c89b8;
    border-radius: 12px;
    box-shadow: 10px 10px 8px #b8bedd;
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: ease;
    animation-direction: alternate;
       
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
@keyframes test{
    from {background-color: #efc3e6;}
  to {background-color: #b8bedd;}
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
